form {
    width: 500px;
    margin: 0 auto;
    text-align: left;
}
input, textarea, select {
    width: 100%;
    padding: 10px;
    margin: 5px 0 20px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}