:root {
  font-family: 'Times New Roman', Times, serif, Arial, Helvetica, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  background: linear-gradient(180deg, #417383 0%, #0059ff 100%);
  color: white;
}
